* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Mobile First design
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.body-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.content-container {
  height: 100%;
  width: 100%;
  /* background: rgb(99, 85, 85); */
  /* background-image: ; */
  display: grid;
  grid-template-rows: 1fr 4fr 4fr;
  font-family: "Roboto", sans-serif;
  /* color: rgb(32, 32, 32); */
  color: white;
  -webkit-text-stroke: 1px black;

  overflow: hidden;
}

.content-container > img {
  width: 300%;
  z-index: -100;
  position: absolute;
  /* top: -10vh; */
}

.top-container {
  /* border: 1px solid blue; */
  display: grid;
  justify-content: left;
  align-items: center;
}

.top-container > input {
  border-radius: 5px;
  border: none;
  height: 65%;
  width: 65vw;
  padding-left: 20px;
  /* margin-left: 20px; */
  margin-left: 3rem;
  margin-top: 10px;
  font-size: 1.4rem;
  background-color: rgba(141, 141, 141, 0.425);
  color: white;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.726);
}

.top-container > input::placeholder {
  color: rgba(221, 221, 221, 0.726);
  -webkit-text-stroke: 1px rgba(221, 221, 221, 0.726);
}

.middle-container {
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.middle-container > h1 {
  /* font-size: 45vw; */
  font-size: 12rem;
  display: grid;
  justify-items: center;
  align-items: end;
}

.middle-container > h3 {
  font-size: 10vw;
  display: grid;
  align-items: start;
  justify-content: end;
  padding-right: 10%;
}

.middle-container::after {
  content: "";
  background-color: white;
  height: 2px;
  width: 80vw;
  position: relative;
  left: 10%;
}

.bottom-container {
  padding-left: 10%;
  padding-top: 30px;
  display: grid;
  padding-bottom: 16px;
}

.bottom-container > h2 {
  font-size: 8vw;
}

.bottom-container > p {
  font-weight: 900;
  font-size: 8vw;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Add Media Queries for wider screens
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

@media (min-width: 330px) {
  .content-container > img {
    width: 250%;
    z-index: -100;
    position: absolute;
    top: -50vh;
  }
}

@media (min-width: 550px) {
  .content-container {
    /* border: 10px solid red; */
    grid-template-rows: 1fr 3fr 4fr;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .top-container > input {
    width: 25rem;
  }

  .middle-container > h1 {
    display: grid;
    font-size: 10rem;
    justify-content: left;
    align-items: end;
    padding-left: 3rem;
  }

  .middle-container > h3 {
    font-size: 2rem;
    display: grid;
    align-items: start;
    justify-content: start;
    padding-left: 15rem;
  }

  .middle-container::after {
    content: "";
    background-color: rgb(196, 196, 196);
    height: 2px;
    width: 20rem;
    position: relative;
    left: 4rem;
  }

  .content-container > img {
    width: 200vw;
    top: -50vh;
  }

  .bottom-container {
    padding-left: 3rem;
  }

  .bottom-container > h2 {
    font-size: 3.5rem;
  }

  .bottom-container > p {
    font-size: 1.6rem;
  }
}

@media (min-width: 900px) {
  .content-container > img {
    width: 150vw;
    top: -70vh;
  }
}

@media (min-width: 1400px) {
  .content-container > img {
    width: 140vw;
    top: -150vh;
  }
}

@media (min-width: 1700px) {
  .content-container > img {
    width: 120vw;
    top: -160vh;
  }
}

@media (min-width: 2050px) {
  .content-container > img {
    width: 150vw;
    top: -200vh;
  }
}
